<% include ../_partials/header %>

<%= profile %>

<a href="/profile/<%= profile._id %>/update/">update</a>

<!-- <a href="/profile/<%= profile._id %>/delete/">delete</a> -->

<form method="POST" action="/profile/<%= profile._id %>?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>