<% include ../_partials/header %>
<form method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type='file' name='photo'>
		first_name: <input type "text" name="first_name" /> <br>

		last_name: <input type "text" name="last_name" /><br>
		
		description: <input type "text" name="description" /><br>
		email: <input type="email" name="email" /><br>
		<input type ="submit" value="Save">
	</form>