<% include _partials/header %>
Change Password
<form action="/change_password" method="post">
	<div>
	<label>Original Password:</label>
	<input type="password" name="check_password"/>
	</div>

	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<% include _partials/footer %>