<% include _partials/header %>
Change Email
<form method="post">
	<div>
	<label>Email:</label>
	<input type="email" name="email" value="<%= user.email %>"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

