<% include _partials/header %>
<% if ( messages.error) { %>
	<p><%= messages.error %></p>
<% } %>
<% if ( messages.info) { %>
	<p><%= messages.info %></p>
<% } %>
<% if ( messages.success) { %>
	<p><%= messages.success %></p>
<% } %>
<form action="/forgot" method="post">
	<div>
	<label>email:</label>
	<input type="text" name="email" autofocus /><br/>
	</div>

	<input type="submit" value="Reset Password"/>
	</div>
</form>