<% include _partials/header %>


<% if (!user) { %>
<h5 style="max-width: 600px;">Directory.is a simple to use platform for managing your contacts.</h5> 
<p>Start managing your contacts.</p>
	<form action="/login" method="post">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<div>
		<label>Email:</label>
		<input type="text" name="email"/><br/>
		</div>
		<div>
		<label>Password:</label>
		<input type="password" name="password"/>
		</div>
		<div>
		<input class="button button-primary" type="submit" value="Submit"/>
		</div>
	</form>

	<a  href="/signup">Sign Up</a>

<% } else { %>
Welcome <%= user.username %>! <br>
 <a href="/@/<%= user.username %>">go to your hub</a> 
<hr> <%= hub %>


<% } %>


