
<% include _partials/header %>
reset
<form method="post">
  <div>
  <label>Password:</label>
  <input type="password" name="password"/>
  </div>
  
  <div>
  <label>Confirm Password:</label>
  <input type="password" name="confirm"/>
  </div>
  <div>
  <input type="submit" value="Submit"/>
  </div>
</form>
