<% include ../_partials/header %>

<form method="post" accept-charset="utf-8">
	title: <input type "text" name="title" value="<%= hub.title %>" /> <br>	
	description: <input type "text" name="description"  value="<%= hub.description %>"/><br>
	<input type ="submit" value="Save">
</form>

<a href="/hub">back to hub list</a>
