<% include ../_partials/header %>
<% hubs.forEach(function(hub){ %>
	<%= hub.title %>  <a href="/@/<%= user.username %>">View <%= hub.title %></a> <br>
	
<% }) %>


<a href="/hub/create">create hub</a>
