<style type="text/css">
	button,a {
	    background:none!important;
	     border:none; 
	     padding:0!important;
	    
	    /*optional*/
	    font-family:arial,sans-serif; /*input has OS specific font-family*/
	     color:#069;
	     text-decoration:underline;
	     cursor:pointer;
	     font-size: 16px;
	}
	p {
		font-family:arial,sans-serif;
		 font-size: 16px;
	}
</style>


<a href="/">home</a> |
<a href="/persons">show persons</a> | 
<a href="/add_person">add person</a> |
<a href="/groups">show groups</a> |
<a href="/add_group">add group</a>
<hr>
<br>
