<!DOCTYPE html>
<html lang="en">
	<head>

	  <!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>
			<% try{ %>
				<% if(title){ %>
					<%= title %> | directory
				<%}else{ %>
					directory
				<% }%>
			<% } catch(e){ %>
				directory
			<% } %>
		</title>
		<meta name="description" content="Directory.is a simple to use platform for managing contacts.">
		<meta name="author" content="directory">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
 		


		<script type="text/javascript" src="/vendor/js/jquery.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="/app/css/style.css">
		<link rel="stylesheet" href="/app/css/font-awesome.min.css">

		<!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="/app/img/ico/favicon_16x16.png" sizes="16x16">
 		<link rel="icon" type="image/png" href="/app/img/ico/favicon_32x32.png" sizes="32x32">

 		<link rel="apple-touch-icon" href="/app/img/ico/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/app/img/ico/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/app/img/ico/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/app/img/ico/touch-icon-ipad-retina.png">


	</head>

	  <body class="button-link">


	    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <div class="container">

	      <div class="header-bar  border-bottom">
	        <div class="header-left">
	        <% try{ %>
				<% if (login){ %>
					  <a class="no-style-link" href="/">@<%= user.username %></a>
				<%}else{ %>
					 <a class="no-style-link" href="/">directory</a>
				<% }%>
			<% } catch(e){ %>
				 <a class="no-style-link" href="/">directory</a>
			<% } %>

	         
	        </div>
	        <div class="header-right">

				<ul>

					<% if (login){ %>

					<% } else { %>
						<li> <a href="/login">login</a></li>
						<!-- <li> <a class="no-style-link" href="/signup">sign up</a></li> -->
					<% } %>

					<li ><div id="nav-icon">
						  <span></span>
						  <span></span>
						  <span></span>
						  <span></span>
						</div>
					</li>
				</ul>




				<% if (login){ %>
					<div class="menu">
						<ul>
							<li ><a href="/account"><div class="menu-link-text">account</div></a></li>
							<!-- <li ><a href="#"><div class="menu-link-text">help</div></a></li>
 -->
							<li> <a href="/logout"><div class="menu-link-text">logout</div></a></li>
							
						</ul>
					</div>
					<% }else{ %>
						<div class="menu">
							<ul>
								
								<li> <a href="/signup"><div class="menu-link-text">signup</div></a></li>
								<li> <a href="/login"><div class="menu-link-text">login</div></a></li>
								<!-- <li ><a href="#"><div class="menu-link-text">about</div></a></li>
								<li ><a href="#"><div class="menu-link-text">help</div></a></li> -->
								
							</ul>
						</div>

					<% } %>
	          
	        </div>
	      </div>


		
<script type="text/javascript">
$(document).ready(function(){
	$("#nav-icon").on("click touch",function(){

		// console.log("")
		$(this).toggleClass("open");
		$(".menu").toggleClass("show-menu")
	});
});

</script>
	      


