<!DOCTYPE html>
<html lang="en">
	<head>

	  <!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>
			<% try{ %>
				<% if(title){ %>
					<%= title %> | directory.
				<%}else{ %>
					directory.
				<% }%>
			<% } catch(e){ %>
				directory.
			<% } %>
		</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- <meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
 -->

		<script type="text/javascript" src="/vendor/js/jquery.js"></script>




		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="/app/css/style.css">
		<!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="images/favicon.png">

	</head>

	  <body class="button-link">


	    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	    <div class="container">

	      <div class="header-bar  border-bottom">
	        <div class="header-left">
	        <% try{ %>
				<% if (login){ %>
					  <a class="no-style-link" href="/">@<%= user.username %></a>
				<%}else{ %>
					 <a class="no-style-link" href="/">directory</a>
				<% }%>
			<% } catch(e){ %>
				 <a class="no-style-link" href="/">directory</a>
			<% } %>

	         
	        </div>
	        <div class="header-right">

				<ul>

					<% if (login){ %>

					<% } else { %>
						<li> <a href="/login">login</a></li>
						<!-- <li> <a class="no-style-link" href="/signup">sign up</a></li> -->
					<% } %>

					<li ><div id="nav-icon">
						  <span></span>
						  <span></span>
						  <span></span>
						  <span></span>
						</div>
					</li>
				</ul>




				<% if (login){ %>
					<div class="menu">
						<ul>
							<li ><a href="/account"><div class="menu-link-text">account</div></a></li>
							<!-- <li ><a href="#"><div class="menu-link-text">help</div></a></li>
 -->
							<li> <a href="/logout"><div class="menu-link-text">logout</div></a></li>
							
						</ul>
					</div>
					<% }else{ %>
						<div class="menu">
							<ul>
								
								<li> <a href="/signup"><div class="menu-link-text">signup</div></a></li>
								<li> <a href="/login"><div class="menu-link-text">login</div></a></li>
								<!-- <li ><a href="#"><div class="menu-link-text">about</div></a></li>
								<li ><a href="#"><div class="menu-link-text">help</div></a></li> -->
								
							</ul>
						</div>

					<% } %>
	          
	        </div>
	      </div>


		
<script type="text/javascript">
$(document).ready(function(){
	$("#nav-icon").on("click touch",function(){

		// console.log("")
		$(this).toggleClass("open");
		$(".menu").toggleClass("show-menu")
	});
});

</script>
	      


