<style type="text/css">
	button,a {
	    background:none!important;
	     border:none; 
	     padding:0!important;
	    
	    /*optional*/
	    font-family:arial,sans-serif; /*input has OS specific font-family*/
	     color:#069;
	     text-decoration:underline;
	     cursor:pointer;
	     font-size: 16px;
	}
	p {
		font-family:arial,sans-serif;
		 font-size: 16px;
	}
</style>


<a href="/">home</a> |
<a href="/profiles">show profiles</a> | 
<a href="/add_profile">add profile</a> |
<a href="/orgs">show organizations</a> |
<a href="/add_org">add organization</a>
<hr>
<br>
