.check-element{
	li{
		list-style: none; 
		float:left; 
		margin-right: 10px;
		.check-element-box{
			min-height: 60px; 
			width: 150px; 
			overflow: hidden; 
			float:left;
			img {
				background-color: #EEEEEE; 
				height: 95%; 
				width: 95%;
			}
			.Checkbox.styledToggle {
			    width: 95%;
			}

		}
		.title-info {
		    font-weight: 700;
		    font-size: 16px;
		    text-transform: capitalize;
		}
	}




}