<% include ../_partials/header %>
<%= org %>
<hr>
<%= profiles %>
<!-- <form action="/add_org" method="post" accept-charset="utf-8">
		name: <input type "text" name="name" /> <br>	
		description: <input type "text" name="description" /><br>

		<input type ="submit" value="Save">
	</form> -->