<% include ../_partials/header %>
<%= org %>
<a href="/org/<%= org._id %>/add_profiles/">add profiles</a>
<a href="/org/<%= org._id %>/update/">update</a>


<form method="POST" action="/org/<%= org._id %>?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>