<% include ../_partials/header %>
<%= org %>

<form action="/org/<%= org._id %>/update" method="post" accept-charset="utf-8">
		name: <input type "text" name="name" value="<%= org.name %>"/> <br>	
		description: <input type "text" name="description" value="<%= org.description %>"/><br>

		<input type ="submit" value="Save">
	</form>